.vscode/settings.json
pack.bat
toolkits.spec
upx.exe
__pycache__/ex.cpython-39.pyc
__pycache__/timer.cpython-39.pyc
.vscode/settings.json
dist/toolkits.exe
build/toolkits/Analysis-00.toc
build/toolkits/base_library.zip
build/toolkits/EXE-00.toc
build/toolkits/PKG-00.toc
build/toolkits/PYZ-00.pyz
build/toolkits/PYZ-00.toc
build/toolkits/toolkits.exe.manifest
build/toolkits/toolkits.pkg
build/toolkits/Tree-00.toc
build/toolkits/Tree-01.toc
build/toolkits/Tree-02.toc
build/toolkits/warn-toolkits.txt
build/toolkits/xref-toolkits.html
build/toolkits/localpycs/pyimod01_archive.pyc
build/toolkits/localpycs/pyimod02_importers.pyc
build/toolkits/localpycs/pyimod03_ctypes.pyc
build/toolkits/localpycs/pyimod04_pywin32.pyc
build/toolkits/localpycs/struct.pyc
